# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# Other
.DS_Store
.venv/